body{
	background:#ddd;
}
.wrapper{
	margin:0 auto;
	position:relative;
	width:100%;
	max-width:1400px;
	height:auto;
	padding:0px 10px;
}

.masthead{
	color:white;
	background-color:#4679bd;
	position:relative;
	padding:20px 0;
}

.logo{
	position:relative;
	text-align: center;
	font-size: 40px;
	padding:5px;
}
.login-welcome{
	float:right;
	position: absolute;
	bottom:10;
	right:10;
	margin:2px 50px 2px 0px;

}
.team-name{
	background:white;
	font-size:25px;
	text-align:center;
	padding:10px;
	margin:10px 0;
}
.balance-box{
	background:white;
	text-align:center;
	font-size:20px;
	height:80px;
	width:150px;
	
	float:left;
	
	
}

.rules-box{
	background:white;
	text-align:center;
	font-size:20px;
	height:auto;
	width:780px;
	
	
	float:right;
}
.team-box{
	text-align:center;
	font-size:20px;
	height:75vh; /* occupy most of viewport height */
	width:100%;
	background: linear-gradient(#0b7b36, #0a6c2f);
	float:none;
	margin:10px 0 0 0;
	overflow-y:auto;
	box-sizing:border-box;
}
.players-box{
	background:white;
	font-size:20px;
	height:300px;
	width:100%;
	overflow-y: auto; 
	margin:10px 0 20px 0;
	float:none;
	clear:both;
}
.player-row{
	
	height:25px;
	width:100%;

}
.player-row:hover {
	background-color:#f1f1f1;
	height:25px;
	width:100%;
	cursor:pointer;
	opacity:1;

}
.player-row:hover .player-add{
	opacity:1;

}
.player-add{
	background-image: url("../images/add.png");
	background-position: center;
	float:left;
	height:20px;
	width:25px;
	padding:2px;
	opacity:0;
	box-sizing:border-box;
}
.player-name{
	
	height:auto;
	float:left;
	padding:2px;
	
	box-sizing:border-box;
	width:200px;

	
	
}
.player-role{
	height:150px;
	width:140px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin:5px;
	position:relative;
	
}
.player-price{
	height:auto;
	float:left;
	padding:2px;
	box-sizing:border-box;
	width:auto;	

}

.player-profile{	
	height:150px;
	width:140px;
	float:left;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:5px;
    position:relative;

}
.player-profile:hover {	
	box-shadow: 0px 0px 5px #888888;
    cursor:pointer;
}
.player-box {
	width: 120px;
	text-align: center;
	position: relative;
}

.player-box img {
	width: 120px;
	height: auto;
}
.formation{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	padding:18px 12px;
	box-sizing:border-box;
}
.formation-row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;            /* space between players */
	margin-bottom: 30px;
	min-height: 120px;    /* keeps each row separated */
	position: relative;
	width: 90%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}
.formation-row.subs{
	justify-content:flex-start;
	gap: 12px;
	margin-bottom: 8px;
	min-height: 90px;
	flex-wrap: nowrap; /* single horizontal line */
	overflow-x: auto;  /* allow scrolling if many subs */
	padding: 6px 8px;
	width: 100%;
}

/* Distribute players evenly across each position row */
#def-row, #mid-row, #for-row{
	justify-content: space-evenly;
}

/* Goal row should center the goalkeeper */
#goal-row{
	justify-content: center;
}

/* Bench (substitutes) smaller card styling */
.bench-box{
	width: 90px;
	height: 90px;
	margin:4px;
	background-size: cover;
	background-position: center;
}
.bench-box .heading-banner{
	font-size: 10px;
	padding: 2px 4px;
}
.submit{
	background-color: #2ec866;
	font-size:23px;
	color:white;
	cursor:pointer;
	border-radius: 2px;
	border:#2ec866;
	outline: none;
	width:100px;
	height:30px;
	float:left;

}
textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}
#teamname-input{
	margin-left: 30px;
	font-size: 20px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:0;
}
.notification{
	background-color: #FFFFD1;
	padding:5px 20px;
	font-size:20px;
	position:absolute;
	top: 96px;
	left: 45%;
}

.heading-banner{
	width:100%;
	background-color: #434a54;
	color:white;
	text-align: center;
	float:left;
	padding:2px 0;
}

.footer{
	width:100%;
	height:20px;
	background-color: #434a54;
}